<div class="jumbotron row burger-view">
    <div class="col-6 h-100 yes-burger text-center">
            <div class="card-header bg-info text-white">
                <h3>To Eat</h3>
            </div>
                    {{#each burgers}}
                        {{#unless devoured}}
                            <button type="button" data-id="{{this.id}}" class="btn btn-secondary py-1 shadow eat-btn mt-2 w-100">{{burger_name}} - Click Me</button>
                        {{/unless}}
                    {{/each}}
    </div>
    <div class="col-6 h-100 no-burger text-center">
            <div class="card-header bg-info text-white">
                <h3>All Gone</h3>
            </div>
                {{#each burgers}}
                    {{#if devoured}}
                        <div class="mt-2 w-100 bg-secondary text-white py-1 rounded shadow">
                            {{burger_name}}
                        </div>
                    {{/if}}
                {{/each}}
    </div> 
</div>
<div class="row">
    <form class="w-100">
        <div class="form-group">
            <input type="text" class="form-control" id="burgerName" placeholder="Enter burger name">
        </div>
        <button type="button" class="btn" id="add-btn">Add Burger</button>
    </form>
</div>

<script type="text/javascript">
    $(document).on('click','.eat-btn',() => {
        event.preventDefault();
        const id = $(this).data('id');
        const burger = {
            devoured: true
        };
        console.log(burger);
        $.ajax(`./api/burger/${id}`, {
            type: "PUT",
            data: burger
        }).then(() => {
            location.reload();
        });
    });

    $('#add-btn').on('click', () => {
        event.preventDefault();
        const burgerName = $('#burgerName').val().trim();
        //console.log(burgerName);
        let burger = {};
        if(burgerName) {
            burger = {
                burger_name: burgerName,
                devoured: false
            }
        }
        console.log(burger);
        $.ajax(`/api/burger`, {
            type: "POST",
            data: burger
        }).then(() => {
            location.reload();
        });
    });

</script>