body {
    background-image: url(../img/burger-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

#page-title {
    color: ghostwhite;
    padding: 20px;
    font-family: 'Pacifico', cursive;
}

.burger-view {
    height: auto;
}

.section-title {
    color: #ffe28a;
    font-family: 'Fahkwang', sans-serif;
    
}

button {
    color: #ffe28a;
}


